/* header*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-size: cover;
    background-position: center;
    height: 750px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    text-align: center;
    font-size: 1.5em;
    background-color: rgba(236, 234, 234, 0.329);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: "Kaushan Script";
}

.OFFRE {
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-family: "Playfair Display";
    background-color: rgba(216, 214, 214, 0.329);
}

.Bienvenue {
    text-align: center;
    color: white;
    font-size: 2.5em;
    font-family: "Kaushan Script";
    text-shadow: 3px 3px 3px rgb(94, 92, 92);
}


/*Partie1*/

.yoga_cours {
    float: left;
    width: 300px;
    display: inline-block;
    padding-right: 1%;
    top: 10px;
    margin-right: 9px;
    margin-left: 19px;
}

.yoga {
    width: 300px;
    display: inline-block;
    float: right;
    padding-left: 1%;
    margin-right: 26px;
}


/* .test {
        height: 100px;
        width: 500Px;
        clear: both;
        background-image: linear-gradient(red, green)
    } */

h3 {
    text-align: center;
}


/*Partie2*/

.partie2 {
    height: 500px;
    background-image: url("img/background_section.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.imaage {
    width: 150px;
}

#img1 {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}

#img2 {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}

#img3 {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}

.text {
    text-align: center;
    padding: 0 59px;
    color: white;
}

h4 {
    color: white;
}


/*footer*/

#div1 {
    text-align: center;
}

h6 {
    text-align: center;
}

footer {
    background-image: url("img/background_section.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}